body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: hotpink;
    overflow: hidden;
    color: white;
}

div#root {
    background-color: #125577;
    padding: 10px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.instrumentList p {
    text-align: center;
    padding: 10px 5px;
    background-color: dodgerblue;
    margin: 0;
}

.explanation {
    font-size: 14px;
}

h4 {
    font-weight: 100;
}

code {
    background-color: black;
}

ol {
    text-align: left;
    font-size: 14px;
}

li {
    padding-bottom: 10px;
}